<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/philip.css">
        <title>Philip's Portfolio Website</title>
    </head>
<body>
        <nav id="navbar">
            <a href="#home" class="nav">Home</a>
            <a href="#projects" class="nav">About</a>
            <a href="#contact" class="nav">Contact</a>
            <a href="#social" class="nav">Social Media</a>
        </nav>

        <header>
            <h1>Welcome</h1>
            <p>My name is Arinda Philipo</p>
            <p>I am a Web Developer</p>
        </header>

      <section id="projects">
            <h2>Projects</h2>
            <div class="projects-container">
      
            <a href="https://github.com/Philari" target="_blank" class="projects">
                <img class="img-1" src="../images/1.png" alt="photo1">
                <p>Survey Form</p>
            </a>
    
            <a href="https://github.com/Philari" target="_blank" class="projects">
                <img class="img-1" src="../images/g.png" alt="">
                <p>Google Page</p>
            </a>
</div>
        </section>

        <section id="social" class="b-colo">
            <h2 class="socm">
                Social Media
            </h2>
            <p>Connect with me on</p>
            <ul class="-links">
                <li><a href="https://github.com/Philari" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.facebook.com/arindawp" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC55ccNafxhFJntpBkKuXjrg?view_as=subscriber" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://twitter.com/philarin" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>

        </section>
    </body>
        <footer>Copyright &copy; Designed by Arinda Philipo</footer>

</html>